/* 공통 */
.page-wrapper.main-n { overflow:hidden; }

.txt-wrap .tit { color:#000; font-size:18px; line-height:34px; padding-bottom:20px; }
.txt-wrap .txt { color:#555; font-size:13px; line-height:18px; }
.txt-wrap .txt em { font-size:inherit; }
.txt-wrap .txt.type02 { font-size:15px; line-height:24px; }
.txt-wrap .txt.type03 { font-size:15px; line-height:20px; }

.fc-black { font-size:inherit; color:#000; }
hr { background:#f2f2f2; height:10px; border:0; margin:0; padding:0; }

.btn-primary.bg-green { background:#2d827a; border-color:#2d827a; }

.ico-help03, a.ico-help03 { position:relative; width:16px; height:16px; margin-top:3px; background-image:url('../images/sub/icon_help.png'); background-size:100%; }
.ico-help03:before {
	top:10px;
	left:50%;
	border:solid transparent;
	content:"";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
    display:none;
}
.ico-help03.active:before {
    display:block;
}
.ico-help03:before {
	border-color:transparent;
	border-bottom-color:#1b4057;
	border-width:10px;
	margin-left:-10px;
}
.tooltip-wrap { position:relative; }
.tooltip { display:none; position:absolute; margin-top:9px; padding:10px 20px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16); border-radius:8px; background-color:#1b4057; width:75vw; z-index:2; }
.tooltip.right { left:-50%; }
.tooltip.left { left:0; }
.tooltip.active { display:block; }
.tooltip .tooltip-txt { display:block; width:calc(100% - 54px); color:#fff; }
.tooltip .btn-close { position:absolute; top:50%; right:20px; width:14px;height:14px; background:url('../images/sub/btn_tooltip_close.svg') no-repeat 50% 50%/14px; transform:translateY(-50%); }

.table-wrap .ico-help03, .table-wrap a.ico-help03 { margin-top:2px; }

.tb-result { margin:40px 0; }
.tb-result .title { padding-bottom:12px; font-size:16px; color:#000; }
.tb-result .title .ico-help03 { margin-top:5px; }
.tb-result .table-wrap .bottom-avg td { color:#000; }

.table-wrap.type02 thead th { background:#f5f5f5; padding:10px; border-bottom:1px solid #ddd; font-weight:400; color:#555; font-size:13px; }
.table-wrap.type02 tbody th,
.table-wrap.type02 tbody td { font-size:13px; padding:10px; color:#555; word-break:keep-all; height:auto; }
.table-wrap.pd thead th { padding:3px 0; }
.table-wrap.pd tbody td { padding:10px 5px; }

.form-box .frm-tit > label { font-weight:400; color:#222; }
.list-chk,
.list-chk > ul > li.chk-all { padding:0; margin-top:0; border:0; }

.more-info { display:flex; justify-content:space-between; margin-top:20px; }
.more-info.type02 { justify-content:flex-end; margin-top:10px; }
.more-info .txt { font-size:13px; line-height:18px; color:#62777f; }
.more-info .btn-linktxt span { font-size:13px; }

.btn-flex-wrap { display:flex; gap:10px; }

/* 정보제공동의 */
.agree-wrap ul li { margin-bottom:10px; border:1px solid #ddd; }
.agree-wrap .tit a { position:relative; display:block; padding:14px 20px; border-bottom:1px solid #ddd; font-size:15px; color:#000; text-align:left; }
.agree-wrap .tit .arrow { position:absolute; right:20px; top:17px; width:19px; height:19px; background:url(../images/common/arrw_left01.png) right center no-repeat; background-size:auto 19px; transform:rotate(-180deg); }
.agree-wrap .cont { background:#f8f8f8; padding:14px 20px; }

/* 안심전세 메인 타이틀 */
.sub-mn-title { padding-bottom:20px; }
.sub-mn-title h2 { font-size:20px; line-height:30px; letter-spacing:-0.5px; color:#000; font-weight:400; }
.sub-mn-title .logout em { font-weight:bold; color:#0d6fb8; font-size:20px; }
.sub-mn-title .login em { font-weight:bold; color:#0d6fb8; font-size:16px; }
.sub-mn-title .login .small-txt { font-size:16px; }
.sub-mn-title .name { font-size:20px; color:#000; font-weight:bold; }

/* 안심전세 상단 슬라이드 */
.submn-guide-card { padding-left:20px; padding-right:20px; }
.submn-guide-card .swiper { overflow:visible; }
.submn-guide-card  .submn-card { width:75%; height:160px; border-radius:8px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.submn-guide-card .submn-card.type01 { background:#3a6ab2 url(../images/sub/img_submn01@3x.png) right bottom no-repeat; background-size:contain; }
.submn-guide-card .submn-card.type02 { background:#009085 url(../images/sub/img_submn02@3x.png) right bottom no-repeat; background-size:contain; }
.submn-guide-card .submn-card a { display:block; height:100%; padding:20px 20px 0; text-align:left; }
.submn-guide-card .submn-card .tit { color:#fff; font-size:20px; line-height:28px; letter-spacing:-0.5px; font-weight:bold; }
.submn-guide-card .submn-card .info { padding-top:5px; color:#fff; font-size:13px; line-height:18px; letter-spacing:-0.65px; }
.submn-guide-card .submn-card .btn-linktxt { background:url(../images/common/arrw_right11.png) no-repeat right center/7px; margin-top:32px; color:#fff; }
.submn-guide-card .submn-card .btn-linktxt span { font-family:'Noto Sans KR', 'sans-serif';  color:#fff; font-size:12px; }
.submn-guide-card .info-txt { padding-top:10px; font-size:12px; line-height:18px; color:#666; }

/* 안심전세 하단 버튼 영역 */
.submn-btn-wrap ul { display:flex; margin-top:20px; }
.submn-btn-wrap ul li { width:25%; text-align:center; }
.submn-btn-wrap .img { display:block; width:48px; text-align:center; margin:0 auto; }
.submn-btn-wrap .tit { padding-top:5px; color:#333; font-size:12px; line-height:16px; }

/* 안심전세 공지사항 버튼 */
.mn-notice-wrap { background:#f8f8f8; margin-top:20px; }
.mn-notice-wrap .mn-notice a { display:flex; align-items:center; padding:14px 0; }
.mn-notice-wrap .mn-notice .tag { display:block; background:#fff; width:40px; height:22px; margin-right:10px; border:1px solid #588acc; border-radius:11px; font-size:12px; color:#588acc; }
.mn-notice-wrap .mn-notice .title { width:calc(100% - 120px); text-align:left; font-size:14px; color:#333; font-weight:500; }
.mn-notice-wrap .mn-notice .date { font-size:12px; color:#666; font-weight:500; }

/* 주소검색 팝업 */
.addr-pop .pop-close { top:16px; }
.addr-pop .addr-tit { font-size:15px; color:#222; }
.addr-pop .addr-tit .fc-red { padding-left:5px; }
.addr-pop .form-wrap { margin-top:15px; }
.addr-info-wrap .addr-info { padding:20px 0 25px; }
.addr-info-wrap .addr-info .txt { padding-bottom:9px; color:#41569b; font-size:15px; line-height:20px; letter-spacing:-0.3px; }
.addr-info-wrap .info-list li { position:relative; padding-left:10px; font-size:13px; line-height:20px; color:#666; }
.addr-info-wrap .info-list li::before { content:''; display:block; position:absolute; left:0; top:10px; background:#666; width:2px; height:2px; border-radius:50%; }
.addr-srh-wrap .addr-srh button { font-family:'Noto Sans KR', 'sans-serif'; text-align:left; }
.addr-srh-wrap .addr-srh { padding-bottom:6px; border-top:1px solid #555; border-bottom:1px solid #ddd; }
.addr-srh-wrap .addr-srh ul li:not(:last-child) { border-bottom:1px solid rgb(221,221,221,.35); }
.addr-srh-wrap .addr-srh .post { display:block; padding-top:10px;  padding-bottom:10px; font-size:18px; line-height:24px; color:#000; font-weight:bold; }
.addr-srh-wrap .addr-srh .addr-section { display:flex; padding-bottom:9px; }
.addr-srh-wrap .addr-srh .addr-section .addr-tag { background:#3a6cb9; width:55px; height:26px; padding:3px 0 4px; margin-right:10px; border-radius:2px; color:#fff; font-size:13px; text-align:center; }
.addr-srh-wrap .addr-srh .addr-section .addr-tag.type02 { background:#62777f; }
.addr-srh-wrap .addr-srh .addr-section .addr { width:calc(100% - 55px); font-size:15px; line-height:20px; color:#333; }
.addr-srh-wrap .addr-srh .addr-detail { display:none; padding-top:6px; padding-bottom:10px; }
.addr-srh-wrap .addr-srh .addr-detail.active { display:block; }
.addr-srh-wrap .addr-srh .addr-detail .common-combo { padding-top:4px; }
.addr-srh-wrap .addr-srh .txt { padding-bottom:9px; padding-top:30px; font-size:15px; line-height:20px; color:#000; text-align:center; }
.addr-srh-wrap .addr-srh .sub-txt { padding-bottom:32px; font-size:13px; line-height:20px; color:#555; text-align:center; }
.addr-srh-wrap .addr-info { font-size:13px; line-height:18px; color:#555; }

/* 상담안내 */
.consult-noti-wrap { margin-top:26px; padding-bottom:20px; }
.consult-noti-wrap .tit { padding-bottom:10px; text-align:center; font-size:15px; color:#222; }
.consult-noti-wrap ul { background:#f8f8f8; height:300px; padding:20px; border:1px solid #ddd; overflow:auto; }
.consult-noti-wrap ul::-webkit-scrollbar {
    width:4px;
}
.consult-noti-wrap ul::-webkit-scrollbar-thumb {
    background-color:#c2c2c2;
}
.consult-noti-wrap ul li { padding-bottom:20px; font-size:15px; line-height:20px; color:#555; }
.consult-noti-wrap ul li span { display:block; width:calc(100% - 10px); padding:4px 0 4px 10px; font-size:inherit; }

.consult .view-wrap .view-cont { margin:10px 0 20px; padding:20px 0 20px 15px; border-top:1px solid #555; border-bottom:1px solid #e3e3e3; }
.consult .view-wrap .view-cont textarea { height:322px; padding-right:15px; border:0; }

/* 결제 */
.pay-wrap ul { display:flex; gap:10px; margin-top:20px; }
.pay-wrap ul li { width:50%; text-align:center; }
.pay-wrap ul li a { width:100%; padding:47px 0; border-radius:3px; }
.pay-wrap .npay { background:#00c73c url(../images/common/logo_Npay_on.png) center no-repeat; background-size:auto 26px; }
.pay-wrap .kakao { background:#ffeb00 url(../images/sub/logo_kakap.png) center no-repeat; background-size:auto 26px; }

/* 주택검색 및 조회 > 안심전세 결과 */
.result-top-wrap .inner { background:#0d6fb8; padding:33px 10px 30px; }
.result-top-wrap .btn-wrap { margin:20px 10px 0; }
.result-top-wrap .btn-modify { border:2px solid rgb(225,225,225,0.8); border-radius:3px; color:#fff; }
.result-top-wrap .addr-detail { padding:0 10px 30px; }
.result-top-wrap .addr-detail .tag-wrap { display:flex; gap:4px; }
.result-top-wrap .addr-detail .tag-wrap .tag { background:#fff; padding:0 10px 1px; font-size:14px; color:#0d6fb8; border-radius:10px; }
.result-top-wrap .addr-detail .addr { padding-top:10px; font-size:20px; font-weight:bold; line-height:30px; color:#fff; }
.result-top-wrap .addr-detail-list { display:flex; padding-top:20px; }
.result-top-wrap .addr-detail-list li { position:relative; padding-left:10px; padding-right:10px; color:#fff; font-size:13px; font-weight:400; }
.result-top-wrap .addr-detail-list li:first-child { padding-left:0; }
.result-top-wrap .addr-detail-list li:not(:last-child):after { content:''; position:absolute; right:0; top:4px; width:1px; height:14px; background:rgb(225,225,225,0.6); }
.result-top-wrap .price-wrap { padding:20px; border-radius:10px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16); background-color:#fff; }
.result-top-wrap .price-wrap ul { display:flex; }
.result-top-wrap .price-wrap ul li { width:50%; }
.result-top-wrap .price-wrap ul li:last-child { padding-left:20px; border-left:1px solid #ddd; }
.result-top-wrap .price-wrap .name { display:inline-block; padding:0 6px; color:#fff; font-size:13px; border-radius:2px; font-weight:400; }
.result-top-wrap .price-wrap .name.red { background:#c54239; }
.result-top-wrap .price-wrap .name.blue { background:#3465ad; }
.result-top-wrap .price-wrap .price { font-size:20px; color:#222; font-weight:500; }
.result-top-wrap .price-wrap .price span { font-size:30px; font-weight:bold; }
.result-top-wrap .tb-result .title { font-size:13px; }

.location-wrap { margin:40px 0; }
.location-wrap .tit,
.location-wrap .txt { padding-bottom:10px; }


/* 안심전세 진단 결과 */
/* .relax-result-wrap .relax-result { padding:20px; margin-bottom:20px; border-radius:9px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16); background-color:#fff; }
.relax-result-wrap.type02 .relax-result { border-top-left-radius:0; border-top-right-radius:0; } */
.relax-result-wrap .relax-result { margin:40px 0; }
.relax-result-wrap .relax-result .title { border-bottom:1px solid #555; line-height:34px; font-size:16px; color:#000; }
.relax-result-wrap .relax-result .warning { background:url(../images/sub/icon_warning.png) center top no-repeat; background-size:48px; margin:30px 0 20px; padding-top:52px; }
.relax-result-wrap .relax-result .warning .txt { text-align:center; color:#c54239; font-size:18px; font-weight:500; }
.relax-result-wrap .relax-result .graph { margin:20px 0; }
.addr-result-wrap .addr-result { background-color:#1d76c3; margin-top:30px; padding:20px; border-top-left-radius:9px; border-top-right-radius:9px; box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.addr-result-wrap .addr-result .tag { display:block; background:#fff; width:100px; height:20px; margin-bottom:13px; border-radius:10px; text-align:center; font-size:14px; color:#41569b; }
.addr-result-wrap .addr-result .addr-txt { color:#fff; font-size:18px; line-height:34px; }

/* 둥기부미결제 자가진단 */
.add-list-wrap ul li:first-child { margin-top:20px; }
.add-list-wrap ul li { padding:20px; border:1px solid #ddd; border-radius:10px; margin-top:10px; }
.add-list-wrap .btn-lg, .add-list-wrap a.btn-lg { height:40px; line-height:40px; }

/* 평가하기 */
.star-input input[type='radio']{ position:relative; width:32px; height:32px;border-radius:0; border:0; background:url(../images/sub/icon_star_off.svg) center no-repeat; }
.star-input input[type='radio']:checked{ border:0; background:url(../images/sub/icon_star.svg) center no-repeat; }

.star-rating-wrap { display:flex; flex-direction:row-reverse; justify-content:space-around; text-align:center; margin-top:23px; margin-bottom:56px; }
.star-rating-wrap input { display:none; }
.star-rating-wrap label { width:32px; height:32px; background:url(../images/sub/icon_star_off.svg) center no-repeat; background-size:100%; }
.star-rating-wrap :checked ~ label { width:32px; height:32px; background:url(../images/sub/icon_star.svg) center no-repeat; background-size:100%; }